another-one-wallet.xcodeproj/xcuserdata/ildartimerbaev.xcuserdatad/xcschemes/Copy of another-one-wallet.xcscheme
another-one-wallet.xcodeproj/xcuserdata/ildartimerbaev.xcuserdatad/xcschemes/Copy of another-one-wallet.xcscheme
